

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/
package-lock.json

# Vite cache
.vite/

# Editor directories and files
.vscode/
*.swp

# IDE-specific files
.idea/
